html {
  font-size: 62.5%; // 10px
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid grey;
  padding: 1em;
  text-align: left;
}

th {
  font-weight: bold;
}

// TODO: use better selectors than elements, preferably BEM

// TODO: add column right align for numerical data
//
// etc
